extends layout

block content
  .track
    .record RECORD
    .stop STOP
    .play PLAY
  .track
    .record RECORD
    .stop STOP
    .play PLAY
  .track
    .record RECORD
    .stop STOP
    .play PLAY

  .playall PLAY ALL