@import '_settings'

normalize()
base()

body
  padding: 50px

.button
  margin: 5px
  width: 100px
  height: 20px
  line-height: 20px
  text-align: center
  background-color: #aaa
  color: #fff
  float: left
  cursor: pointer
  &:hover
    background-color: #777

.play, .stop, .record, .playall
  @extend .button

.track
  clear: both
  padding-bottom: 40px